<div id="username-page">
  <div class="username-page-container">
    <h1 class="title">GROUP CHATTING</h1>
    <form id="usernameForm" name="usernameForm">
      <div class="form-group" [(ngModel)]="newMessages.activeUser">
        <input [(ngModel)]="newUsers.userName"  name="userName" required type="text" id="name" placeholder="Username"
               autocomplete="off" class="form-control"/>
      </div>
      <div class="form-group">
        <button (click)="addNewUser()" type="submit" class="accent username-submit">JOIN</button>
      </div>
    </form>
  </div>
</div>

<div style="margin-top: 50px; margin-left: 150px">
  <table align="left" height="100px" width="100px">
    <h3>Users</h3>
    <tr *ngFor="let user of listOfUsers; let i = index">
      <div *ngIf="i>0">
        <input [(ngModel)]="newMessages.activeUser">   {{user.userName}}
        <input [(ngModel)]="newMessages.messages" name="messages" required type="text" placeholder="Type a message..."
               class="form-control" style="width: 300%"/>
        <button (click)="addNewMessage()" type="submit" class="primary">SEND</button>
      </div>
    </tr>
  </table>
</div>

<div id="chat-page" class="hidden" style="margin-left: 200px; margin-top: 300px">
  <div class="chat-container">
    <div class="chat-header">
      <h2 align="center">Chat Forum</h2>
    </div>
    <div class="form-group" *ngFor="let user of this.listOfUsers; let i = index">
      <p style="color: #777777;font-size: medium" *ngIf="i>0" align="center">
        # {{user.userName}}  joined</p>
    </div>
    <form id="messageForm" name="messageForm" nameForm="messageForm">
      <div *ngFor="let mes of this.listOfMessages">
        <div class="input-group clearfix" >
          <p>{{mes.activeUser}}</p>
          <p style="color: red">{{mes.messages}}</p>
        </div>
      </div>
    </form>
  </div>
</div>
